// babel for transfiling with styled component to es5
{
    "presets": ["next/babel"],
    "plugins": [
      [
        "babel-plugin-styled-components",
        { "fileName": true, "displayName": true, "pure": true, "ssr": true }
      ]
    ]
  }